@import "../bootstrap/less/bootstrap.less";

/* icons for chapter links */
.pager .previous span {
	.glyphicon;
	.glyphicon-chevron-left;
}

.pager .next span {
	.glyphicon;
	.glyphicon-chevron-right;
}

/* blurbs */
.definition {
	.alert;
	.alert-warning;
	a {
		.alert-link;
	}
}

.note {
	.alert;
	.alert-danger;
	a {
		.alert-link;
	}
}

.deeper {
	.alert;
	.alert-success;
	a {
		.alert-link;
	}
}

.exercise {
	.alert;
	.alert-info;
	a {
		.alert-link;
	}
}

/* images */
img {
	.well;
	margin: 20px;
}

/* little network diagram */
#network {
	text-align: center;
}

/* for the ASCII table */
#ASCII {
	margin: 20px;
}

#ASCII table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 2px;
	border-collapse: separate;
}

#ASCII th, #ASCII td {
	border: 1px solid black;
	font-family: monospace;
	padding: 3px;
}

#ASCII th {
	border-right: none;
	padding-right: 5px;
}

#ASCII td {
	border-left: none;
	padding-left: 5px;
}

/* stuff for the interactive browser selection */
.browser {
	display: inline-block;
	width: 150px;
	text-align: center;
}

.browser img {
	width: 128px;
	min-height: 128px;
}

.browsers {
	text-align: center;
}
