<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

		<title>{{ page.title }}</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-items">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar-items">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Chapters <b class="caret"></b></a>
						<ul class="dropdown-menu">
							{% for post in site.posts reversed %}
								<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
							{% endfor %}
						</ul>
					</li>
					<li><a href="{{ site.baseurl }}/extras/glossary.html">Glossary</a></li>
					<li><a href="#">Exercise Answers</a></li>
				</ul>
			</div>
		</nav>

		<section id="main" class="container">
			{{ content }}
		</section>

		<footer>
			<div class="contact">
				<p>
					<a href="https://github.com/silverhammermba">github.com/silverhammermba</a><br />
				</p>
			</div>
		</footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</body>
</html>
